.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000bf;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-wraper {
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
  }
}
