* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
