.body-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 10%;
    height: 35%;
  }
  .menu {
    height: 50px;
    border: 1px solid #efebeb;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .menu-side-bar {
      img {
        width: 20px;
        height: 20px;
      }
    }
    .menu-list {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        li {
          a {
            font-size: 16px;
            font-family: monospace;
          }
        }
      }
    }
    .search-icon {
      .search-form {
        display: none;
        position: absolute;
        background-color: #ffff;
        right: 120px;
        //   display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        input {
          border: none;
          height: 30px;
          outline: none;
        }
      }
    }
  }
  .sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    .wraper {
      height: 625px;
      overflow: auto;
      background-color: #fff;
      width: 300px;
      .close-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
